.footer {
	padding: 0px 0px 12px 0px;
	background-color: teal;
	color: white;
}

.fadeToYellow {
	animation-name: makeTextYellow;
	animation-duration: 1s;
	animation-iteration-count: 5;
	animation-direction: alternate;
	
}

@keyframes makeTextYellow {
    from {color: white;}
    to {color: yellow;}
}


#to-top-arrow {
	color: white;
	font-size: 150%;
	vertical-align: bottom;
}