
.jumbotron {
	background-color: teal;
	color: white;
	height: 200px;
	margin-bottom: 10px;
}

.jumbotron > h1 {
	animation-name: fadeInText;
	animation-duration: 1s;
}

@keyframes fadeInText {
    from {
    	opacity: 0;
    	letter-spacing: 50px;
    }
    
    to {
    	opacity: 1;
    	letter-spacing: 0px;
    }
}

.navbar {
	background-color: teal;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: lightgrey;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #197084;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


@media (max-width: 768px) {
	#collapsed-navbar-brand {
		color: white;
		display: inline-block;
	}
	
	.jumbotron {
	height: 130px;
	}
	
	.addedTopPadding {
	padding-top: 80px;
	}
}

@media (min-width: 768px) {
	#collapsed-navbar-brand {
		display: none;
	}
	
	.jumbotron {
	height: 200px;
	}
	
	.addedTopPadding {
	padding-top: 100px;
}
}
