html {
    overflow-y: scroll;
    background-color: teal;
}

.modal-open {
  width: 101.5%;
}

button, a {
    outline: none!important;
    outline-color: transparent;
    outline-style: none;
    outline-width: initial;
}

div#page-content-wrapper {
    padding-bottom: 20px;
}


.panel-primary {
    border-color: whitesmoke;
}

.panel-primary > .panel-heading {
	color: white;
	background-color: teal;
	margin: 10 0;
	
}

.panel-primary > .panel-heading > h3 {
	margin: 10px 5px;
}

.panel-footer {
    padding: 1px 15px;
}

a.large-link {
    font-size: 140%;
    color: cadetblue;
    text-decoration: none;
}

.input-group {
	margin: 3px;
}



.rotating-glyph {
	color: blue;
	animation-name: activeInputGlyph;
	animation-duration: 0.6s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	transform-origin: bottom center;
}

@keyframes activeInputGlyph {
    from {
    	color: teal;
    	transform: rotate(-4deg);
    }
    to {
    	color: #00b2b3;
		transform: rotate(4deg);   
    }
}


.modal-header {
	background-color: teal;
}

.modal-body > div > .btn {
    font-size: 140%;
    background-color: #42A0A0;
}



.alert {
	margin-top:20px;
}

@media (min-width: 768px) {
	.goodbye-option {
		margin: 40px 2px;
	}
}

