
/* for glyphicon */
.logo-sm {
    font-size: 17px;
    transform: translateY(2px);
}

#search-dropdown {
	min-width: 143px;
}

.img-wrapper {
	overflow: hidden;
	position: relative;
}

.img-thumbnail {
	border: 0px;
	border-radius: 0px;
	padding: 14px 0px;
}

.img-wrapper > img:hover {
	transform: scale(1.01,1.01);
} 


p.img-title{
	font-size: 115%;
	opacity: 0;
    bottom: 10px;
    color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    pointer-events: none; /* or else the p element will fuck with the animation */)
}


span.picOwner {
    font-size: 75%;
    display: block;
}



#myCarouselDiv {
	padding-bottom: 15px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 90%;
      max-width: 640px;
}
  
#search-hits-nr {
	text-align;
}

#img-result-well {
	padding: 9px 9px 0px 9px;
	text-align: center;
}


@media (max-width: 392px) {
	#img-result-well button {
		margin-top: 5px;
	}
}
#search-input-group {
	width: 300px;
	padding: 0px;
	margin: auto;
	margin-bottom: 10px;
	
}


#goodbye-img {
	display: inline;
	max-height: 100px;
	max-width: 100px;
	animation-name: rotateDog;
	animation-duration: 1.5s;
	margin: 10px;
}

@keyframes rotateDog {
    from {
    	
    	transform: rotate(10deg);
    }
    to {
    	
		transform: rotate(0deg);   
    }
}
